.container-wrapper {
    min-width: 1002px;
  }
.container {
  width: 100%;
  margin: 0 auto;
}
.brand-name {
  margin-left: 65px;
  padding-top: 26px;
}
.header-wrapper {
  background-image: url(../images/background.png);
  margin-top: 0px;
}
.nav-bar-options {
  display: block;
  float: right;
  margin-top: 19px;
}
.become-member {
  background: #23a6f0;
  width: 214px;
  height: 52px;
  border-radius: 5px;
}
.become-member p {
  padding-top: 17px;
  font-size: 14px;
  color: white;
  text-align: center;
}
.login {
  margin-top: 19px;
  margin-right: 45px;
}
.top-icons {
  display: none;
}
.nav-bar {
  float: left;
  margin-top: 33px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 83px;
  width: auto;
}
.nav-bar li {
  float: left;
  padding: 0 0 0 21px;
}
.brand-name-wrapper {
  float: left;
  /* padding:30px 41px 0 0; */
}
.main-heading-content {
  background-image: none;
  width: 599px;
}
.main-heading {
  text-align: left;
  padding: 80px 50px 40px 65px;
}
.sub-heading {
  text-align: left;
}
.heading-options-1 {
  float: left;
  width: 185px;
}
.heading-options-2 {
  float: left;
  width: 154px;
  margin-left: 10px;
}
.heading-options {
  margin-left: 65px;
}
.middle-section-1a {
  float: left;
  width: 33.33%;
  padding: 40px 50px;
}
.middle-section-1b {
  float: left;
  width: 33.33%;
  padding: 40px 50px;
}
.middle-section-1c {
  float: right;
  width: 33.33%;
  padding: 40px 50px;
}
.middle-section-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.middle-section-2a {
  float: left;
  width: 450px;
  height: 288px;
  position: relative;
}
.middle-section-2b {
  float: right;
  width: 450px;
  height: 288px;
  position: relative;
}
.profile-photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -41px;
  margin-top: 28px;
  z-index: 1;
}
.middle-section-3a,
.middle-section-3b,
.middle-section-3c,
.middle-section-3d {
  float: left;
  width: 22%;
  margin-left: 30px;
}
.middle-section-4a,
.middle-section-4b,
.middle-section-4c {
  float: left;
  margin-left: 30px;
  width: 30%;
}
.ms5-form input,
.ms5-form select {
  width: 40%;
  margin-left: 20px;
}
.ms5-form textarea {
  width: 82.6%;
  margin-left: 20px;
}
.btn-book {
  margin-left: 20px;
  width: 218px;
}
.ms5-h5 h5,
.ms5-h2 h2 {
  margin-left: 20px;
}
.ms5-h2 {
  margin-bottom: 40px;
}

.middle-section-header-6 {
  margin-left: 30px;
}
.ms6-fl {
  float: left;
}
.ms6-fr {
  float: right;
  margin-right: 195px;
}
.company-info,
.legal,
.features,
.resources,
.getintouch {
  float: left;
  margin-left: 30px;
}
.copyright {
  background: #fafafa;
}
.madeby h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  margin-bottom: 25px;
}
.madeby {
  float: left;
}
.social-media {
  float: right;
}
.copyright {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 50px;
  margin-left: 0px;
  margin-bottom: 0px;
}
